@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #ffffff8a;
  color: #2b1055;
}

header ul li a.active:hover {
  background-color: #fff;
  color: #2b1055;
}

button {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

button.active {
  background: #ffffff8a;
  color: #2b1055;
}

button.active:hover {
  background-color: #fff;
  color: #2b1055;
}

@media (max-width: 767px) {
  header {
    padding: 15px 20px;
  }

  header ul {
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 35%;
    width: 100%;
  }

  header ul li {
    margin: 10px 0;
  }

  header ul li a,
  header ul li button {
    display: block;
    width: 100%;
    text-align: center;
  }
}
